body {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'VT323', monospace;
    font-size: 1em;
    background-color: #003366;
    background: -webkit-linear-gradient(#003366, #ff4d6b);
    background:    -moz-linear-gradient(#003366, #ff4d6b);
    background:         linear-gradient(#003366, #ff4d6b);
    color: white;
    line-height: 1.4em;
}

.container { 
    padding-bottom: 130px;
}

p {
    line-height: 1em;
}

a {
    color: paleturquoise;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: line-through;
}

/* game title */

#game {
    max-width: 100%;
    min-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#game h1 {
    text-align: center;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    font-size: 7vw;
    font-family: avenir, sans-serif;
    color: aliceblue;
    font-style: italic; 
    line-height: 1em;
}

#game :hover {
    text-decoration:line-through;
}

#game img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#byline {
    text-align: center;
    font-size: 1.5em;
}

.text { /* big text divs */
    font-size: 4em;
    text-align: center;
    line-height: 1em;
}


/* responsive video frame */

.video {
    position: relative;
	padding-bottom: 73%; 
	padding-top: 2%;
	height: 0;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* awards section */

.awards {
    left: 0;
    right: 0;
    overflow: hidden;
}

.awards p {
    text-align: center;
    font-size: 2em;
    line-height: 1em;
}

.laurel { /* individual award div */
    overflow: hidden;
    padding: 10px;
}

.awards img {
    max-width: 30px;
    padding: 10px;
}

/* laurel leaves */

.left {
    float: left;
}

.right {
    float: right;
}



/* for tiny baby screens */

@media screen and (max-width: 600px) {
 
    body {
        margin-left: 10%;
        margin-right: 10%;
        font-size: .9em;
    }
    
    #byline {
        line-height: 5em;
        font-size: 1.5em;
    }
    
    .awards p {
        font-size: 1.4em;
    }
    
    .awards img {
        max-width: 25px;
    }
    
    .text {
        font-size: 3em;
    }
 
}

